{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ asset('images/book1.jpg') }}" alt="Book 1" class="rounded-circle" width="140" height="140">
            <h2>Book Title 1</h2>
            <p>Some brief description or summary of Book 1. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ asset('images/book1.jpg') }}" alt="Book 2" class="rounded-circle" width="140" height="140">
            <h2>Book Title 2</h2>
            <p>Another brief description or summary of Book 2. This is the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ asset('images/book1.jpg') }}" alt="Book 3" class="rounded-circle" width="140" height="140">
            <h2>Book Title 3</h2>
            <p>Brief description or summary of Book 3. This is the third column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('images/feature1.jpg') }}" alt="Feature 1" class="img-fluid mx-auto">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('images/feature2.jpg') }}" alt="Feature 2" class="img-fluid mx-auto">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like
                with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('images/feature3.jpg') }}" alt="Feature 3" class="img-fluid mx-auto">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}
